@import "sass/colors.scss";
@import "sass/normalize.scss";
@import "sass/navbar.scss";

// 1.0 General ========= //
// 2.0 Global ========= //
// 3.0 Hero ========= //
// 3.1 Count-Down ========= //
// 3.2 WEDDING, DESTINATION, RESERVATION INFO ========= //
// 4.0 RSVP MODAL ========= //
// 5.0 FOOTER ========= //
// 5.1 SITE FOOTER ========= //
// 5.2 FIXED FOOTER ========= //
// 6.0 FAQ PAGE ======= //
// 7.0 CONTACT PAGE ======= //
// 8.0 WEDDING PAGE ======= //
// 8.1 GALLERY ======= //
// 8.2 STORY LINE ======= //
// 8.3 BRIDESMAIDS AND GROOMSMEN ======= //
// 8.4 REGISTERY ======= //
// 9.0 DESTINATION PAGE ======= //
// 9.1 PACKAGE INFORMATION ======= //
// 9.2 ADDITIONAL INFORMATION ======= //
// 9.3 BOOKING ======= //

// ************************************* //
// 1.0 General ========= //
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 14px;
}

// ************************************* //
// 2.0 Global========= //
h1, h2, h3 {
    font-family: 'Josefin Sans', Arial, sans-serif;
    color: $main-color;
    text-transform: uppercase;
}

h4, h5, h6 {
    font-family: 'Josefin Sans', Arial, sans-serif;
    text-transform: uppercase;
}

button {
    position: relative;
    font-family: 'Josefin Sans', Arial, sans-serif;
    text-transform: uppercase;
    border: solid 1px $main-color;
    padding: 5px 10px 3px 10px;
    background-color: $main-color;
    overflow: hidden;
    color: white;
    &:hover {
        color: $main-color;
        background-color: rgba(0,0,0,0.0);
    }
}

.bold {
    font-weight: bold;
}

.gold {
    color: $main-color;
}

.div-nav-space {
    margin-top: 120px;
}

ul {
    list-style:none;
    padding-left: 0;
}

.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 100030px;
}

.clearfix {
    clear: both;
}

// ************************************* //
// 3.0 Hero ========= //
#hero {
    background: url("../assets/img/white_rose.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    font-family: 'Josefin Sans', Arial, sans-serif;
    color: $main-color;
    padding-top: 220px;
}

.couple-name {
    font-family: 'Playfair Display SC', serif;
    color: $main-color;
    font-size: 60px;
}

.couple-name-two {
    padding-top: 80px;
}

.couple-name-and {
    font-size: 200px;
    line-height: 150px;
}

.wedding-subtitle {
    margin-top: 50px;
    font-size: 26px;
}

// ************************************* //
// 3.1 COUNT DOWN ========= //
#count-down {
    padding: 50px 0 0 0;
    font-family: 'Josefin Sans', Arial, sans-serif;
    color: $main-color;
}

#count-down .label {
    color: $main-color;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
}

#count-down  .number {
    font-size: 50px;
}

// ************************************* //
// 3.2 WEDDING, DESTINATION, RESERVATION INFO ========= //
#sample-info {
    padding: 30px;  
}

.sample-info-pic img {
    width: 100%;
    height: auto;
    outline: 1px solid $main-color;
    outline-offset: -20px;
}

.sample-info-text {
    padding: 60px;
}

// ************************************* //
// 4.0 RSVP MODAL ========= //
#rsvpModal {
    margin-top: 80px;
}

form .row {
    margin: 20px 0;
}

.modal-body form button {
    margin-left: 15px;
}

label {
    display: block;
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: $main-color;
}

.form-group textarea, .form-group input {
    background-color: rgba(0,0,0,0.0);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    border-bottom: solid 1px $main-color;
    border-left: solid 1px $main-color;
    border-top: none;
    border-right: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    &:focus {
        border-bottom: solid 1px $main-color;
        border-left: solid 1px $main-color;
        border-top: none;
        border-right: none;
    }
}

.close-button {
    font-size: 80px;
    color: $main-color;
    font-weight: 100;
    line-height: 25px;
}

.form-control {
    border: $main-color 1px solid;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    &:focus {
        border: solid 1px $main-color;
    }
}

// ************************************* //
// 5.0 FOOTER ========= //
footer {
    border-top: solid 1px $main-color;
    background-color: $footer-color;
    padding: 50px 0;
    color: black!important;
    margin-top: 30px;
}

footer h5, footer h4 {
    color: $main-color;
}

footer a {
    color: $main-color;
    text-decoration: underline;
    &:hover {
        color: $main-color;
    }
}

footer .agent-info {
    font-size: 16px;
    font-weight: 100;
}

// ************************************* //
// 5.1 SITE FOOTER ========= //
.site-footer {
    border-top: solid 1px $main-color;
    margin-top: 40px;
    padding: 20px 0 0 0;
}

.social-list ul {
    text-decoration: none;
}

.social-list ul a {
    color: white;
    font-size: 20px;
    border: solid 1px $main-color;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 6px 12px 4px ;
    background-color: $main-color;
    &:hover {
        background-color: rgba(0,0,0,0.0);
        color: $main-color;
    }
}

// ************************************* //
// 5.2 FIXED FOOTER ========= //
#fixed-footer {
    display: inline-block !important;
    position: fixed;
    bottom: 0;
    right: 0;
    float: right;
    margin: auto 15px 15px auto;
    border: $main-color 1px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    h6 {
        color: $main-color;
    }
}

.agent-cta-title {
    width: 100%;
    background-color: $main-color;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 7px 0;
}

.agent-cta-info {
    padding: 0 10px;
}

.agent-cta-title h6 {
    color: white !important;
    font-weight: bold;
    font-size: 16px;
}

// ************************************* //
// 6.0 FAQ PAGE ======= //

.faq-content h5 {
    color: $main-color;
}

.faq-content p {
    margin-bottom: 30px;
}

// ************************************* //
// 7.0 CONTACT PAGE ======= //

.contact-agent-info {
    background-color: #f0efee;
    padding: 70px;
    font-size: 16px;
}

.contact-agent-message {
    background-color: #e2e1e0;
    padding: 70px;
}

// ************************************* //
// 8.0 WEDDING PAGE ======= //
#wedding {
    margin-bottom: 20px;
}
.container-space {
    padding: 40px 0 60px 0;
}

// ************************************* //
// 8.1 GALLERY ======= //
.image-list {
    display: inline-block;
}

.more_pic {
    display: none;
}

// ************************************* //
// 8.2 STORY LINE ======= //
#couple-story {
    background-color: #f0efee;
}

#couple-story button{
    margin-top: 10px;
}

.fade {
    opacity: 0.5;
}

// ************************************* //
// 8.3 BRIDESMAIDS AND GROOMSMEN ======= //
#maids-grooms {
    background-color: #e2e1e0;
}

#maids-grooms .row-space{
    padding: 15px 0;
}

.jthumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.jthumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

// ************************************* //
// 8.4 REGISTERY ======= //

#registery button{
    margin: 5px 0 0 0;
}

// ************************************* //
// 9.0 DESTINATION PAGE ======= //
#packages {
    background-color: #f0efee;
}

.destination-pics {
    margin-top: 30px;
}

.bthumbnail {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    outline: 1px solid $main-color;
    outline-offset: -20px;
}

.bthumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

// ************************************* //
// 9.1 PACKAGE INFORMATION ======= //
.package-well {
    background-color: white;
    padding-top: 15px;
    margin: 15px 0;
    h4 {
        color: $main-color;
    }
    img {
        margin-top: 10px;
    }
}

// ************************************* //
// 9.2 ADDITIONAL INFORMATION ======= //

// ************************************* //
// 9.3 BOOKING INFORMATION ======= //
#booking {
    background-color: #e2e1e0;
}

.booking-well {
    background-color: white;
    padding: 15px;
    border: solid 10px #e2e1e0;
    .booking-number {
        text-transform: uppercase;
        color: $main-color;
    }
}