@import "sass/colors.scss";
@import "sass/normalize.scss";
@import "sass/navbar.scss";

// ======== General ========= //
body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

// ======== Global========= //
button {
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: solid 1px $gold;
    border-radius: 5px;
    padding: 5px 10px 3px 10px;
    background-color: rgba(0,0,0,0.0);
}

.book-now {
    font-weight: bold;
}

// ======== Hero ========= //
#hero {
    background: url("../assets/img/white_rose.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    font-family: 'Josefin Sans', Arial, sans-serif;
    color: $gold;
    padding-top: 220px;
}

.couple-name-one,
.couple-name-and,
.couple-name-two{
    font-family: 'Playfair Display SC', serif;
}

.couple-name-one {
    text-align: right;
    font-size: 60px;
}

.couple-name-two {
    text-align: left;
    padding-top: 80px;
    font-size: 60px;
}

.couple-name-and {
    font-size: 200px;
    text-align: center;
    line-height: 150px;
}

.wedding-subtitle {
    margin-top: 50px;
    text-align: center;
    font-size: 26px;
}

// ======== COUNT DOWN ========= //
#count-down {
    padding: 50px 0;
    text-align: center;
    font-family: 'Josefin Sans', Arial, sans-serif;
    color: $gold;
}

#count-down .label {
    color: $gold;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
}

#count-down  .number {
    font-size: 50px;
}