//colors.scss is where main-color gets pulled from
@import "sass/colors.scss";
@import "sass/normalize.scss";
@import "sass/navbar.scss";

// 1.0 General ========= //
// 2.0 Global ========= //
// 3.0 Hero ========= //
// 3.1 Count-Down ========= //
// 3.2 WEDDING, DESTINATION, RESERVATION INFO ========= //
// 4.0 RSVP MODAL ========= //
// 5.0 FOOTER ========= //
// 5.1 FIXED FOOTER ========= //
// 5.2 FIXED FOOTER FOR SMALL VIEW ========= //
// 6.0 FAQ PAGE ======= //
// 7.0 CONTACT PAGE ======= //
// 8.0 WEDDING PAGE ======= //
// 8.1 GALLERY ======= //
// 8.2 STORY LINE ======= //
// 8.3 BRIDESMAIDS AND GROOMSMEN ======= //
// 8.4 REGISTERY ======= //
// 8.5 GUEST LIST ======= //
// 8.6 HASHTAG ======= //
// 9.0 DESTINATION PAGE ======= //
// 9.1 PACKAGE INFORMATION ======= //
// 9.2 ADDITIONAL INFORMATION ======= //
// 9.3 BOOKING ======= //

// ************************************* //
// 1.0 General ========= //
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 14px;
    background-color: #f6f6f6;
    background: url("../assets/img/background/paper_fibers.png");
}

.white-container {
    background-color: white;
    position: relative;
}

.container {
    max-width: 900px;
}

// ************************************* //
// 2.0 Global========= //
h1, h2, h3 {
    font-family: 'Great Vibes', cursive;
    color: $main-color;
    font-size: 35px;
}

.first-p {
    margin: 0;
}

button {
    position: relative;
    text-transform: uppercase;
    border: solid 1px $main-color;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding: 3px 10px 1px 10px;
    background-color: rgba(255,255,255,0);
    color: $main-color;
    margin-bottom: 3px;
    &:hover {
        color: white;
        background-color: $main-color;
    }
}

.bold {
    font-weight: bold;
}

.gold {
    color: $main-color;
}

.div-nav-space {
    margin-top: 120px;
}

.container-space {
    padding: 40px 0 60px 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 100015px;
}

.off-white-bg {
    background-color: #f6f6f6;
}

.white {
    background-color: white;
}

.clearfix {
    clear: both;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.fancy-icon {
    width: 200px;
    margin: auto;
}

// ************************************* //
// 3.0 Hero ========= //
#hero {
    background: url("../assets/img/beach2.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    font-family: 'Great Vibes', cursive;
    color: $main-color;
    padding: 50px 0;
}

.names {
    background-color: rgba(255,255,255,0.7);
    padding: 50px 0;
}

.couple-name {
    font-family: 'Great Vibes', cursive;
    color: $main-color;
    font-size: 60px;
    margin-bottom: 0px;
}

.wedding-subtitle {
    font-size: 24px;
    margin-bottom: 15px;
}

// ************************************* //
// 3.1 COUNT DOWN ========= //
#count-down {
    padding: 40px 0 0 0;
    font-family: 'Great Vibes', cursive;
    color: $main-color;
}

#count-down .label {
    font-family: 'Raleway', Helvetica, sans-serif;
    color: $main-color;
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
}

#count-down  .number {
    font-size: 40px;
}

// ************************************* //
// 3.2 WEDDING, DESTINATION, RESERVATION INFO ========= //
#samples-page {
    section:nth-child(odd) {
    background: #f6f6f6;
    }
}

#sample-info {
    padding: 30px;  
}

.sample-info-text {
    padding: 20px 0;
}

// ************************************* //
// 4.0 RSVP MODAL ========= //
#rsvpModal, #guestList {
    margin-top: 80px;
}

form .row {
    margin: 20px 0;
}

.modal-body form button {
    margin-left: 15px;
}

label {
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: $main-color;
}

.form-group textarea, .form-group input {
    background-color: rgba(0,0,0,0.0);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    border: solid 1px $main-color;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    &:focus {
        border: solid 1px $main-color;
    }
}

.close-button {
    font-size: 80px;
    color: $main-color;
    font-weight: 100;
    line-height: 25px;
}

.form-control {
    border: $main-color 1px solid;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    &:focus {
        border: solid 1px $main-color;
    }
}

// ************************************* //
// 5.0 FOOTER ========= //
footer {
    border-top: solid 1px $main-color;
    padding: 30px 0;
    color: black!important;
    font-size: 12px;
}

footer h5, footer h4 {
    color: $main-color;
}

footer a {
    color: $main-color;
    text-decoration: underline;
    &:hover {
        color: $main-color;
    }
}

.social-list ul a {
    color: white;
    font-size: 15px;
    border: solid 1px $main-color;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 6px 12px 4px ;
    background-color: $main-color;
    &:hover {
        background-color: rgba(0,0,0,0.0);
        color: $main-color;
    }
}

// ************************************* //
// 5.1 FIXED FOOTER ========= //
#fixed-footer {
    display: inline-block !important;
    position: fixed;
    bottom: 0;
    right: 0;
    float: right;
    margin: auto 15px 15px auto;
    h6 {
        color: $main-color;
    }
    a {
        color: black;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            color: black;
        }
    }
}

.agent-cta {
    border: $main-color 1px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
}

.agent-cta-title {
    width: 100%;
    background-color: $main-color;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 20px 0 1px 0;
    color: white;
    font-size: 13px;
}

.agent-cta-info {
    padding: 5px 10px 0;
}

.agent-cta-title .title1 {
    font-size: 25px;
    line-height: 5px;
    text-transform: uppercase;
}

.price-match {
    width: 150px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 20px 0 7px 0;
    margin: auto;
    margin-bottom: 5px;
    font-size: 13px;
    &:hover {
        cursor: pointer;
    }
    img {
        width: 130px;
        margin: auto;
        display: block;
    }
}

.price-match .title1 {
    font-size: 25px;
    line-height: 5px;
    text-transform: uppercase;
}

.price-match .title2 {
    margin-bottom: 0;
    letter-spacing: 9px;
    padding-left: 2px;
    text-transform: uppercase;
}

.price-match .title3 {
    background-color: $main-color;
    color: white;
    line-height: 0px;
    padding: 2px 16px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#price-match-content {
    padding: 5px 10px 0;
    margin: auto;
    width: 155px;
    height: auto;
    background-color: white;
    color: black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: $main-color 1px solid;
}

// ************************************* //
// 5.2 FIXED FOOTER FOR SMALL VIEW ========= //
#fixed-footer-sm {
    display: inline-block !important;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    a {
        color: black;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            color: black;
        }
    }
}

.agent-cta-sm {
    border: $main-color 1px solid;
    background-color: white;
     padding-top: 8px;
}

.agent-cta-title-sm {
    width: 35px;
    background-color: $main-color;
    color: white;
    padding: 3px 5px;
}

.price-match-sm {
    margin-bottom: 5px;
    margin-left: 1px;
    font-size: 13px;
    background-color: $main-color;
    color: white;
    padding: 4px 5px 3px;
    &:hover {
        cursor: pointer;
    }
}

.price-match-button {
    padding: 1px 5px 0;
}

.learn-more {
    text-decoration: underline;
}

#price-match-content-sm {
    padding: 5px 10px 0;
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
    border: $main-color 1px solid;
}

// ************************************* //
// 6.0 FAQ PAGE ======= //

.faq-content h5 {
    color: $main-color;
}

.faq-content p {
    margin-bottom: 30px;
}

// ************************************* //
// 7.0 CONTACT PAGE ======= //
#contact {
    margin-bottom: 50px;
    padding: 0 15px;
    a {
        color: black;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            color: black;
        }
    }
}

.contact-agent-info {
    background-color: #f6f6f6;
    padding: 35px 60px;
}

.who-we-are {
    background-color: #f2f2f2;
    padding: 35px 60px;
}

.promo {
    background-color: white;
    margin-top: 30px;
    padding-top: 10px;
    a {
        color: $main-color !important;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            color: $main-color;
        }
    }
    img {
        max-width: 150px;
    }
}

.black-bg img{
    background-color: black;
    padding: 8px 10px 10px 10px;
}

.travel-zap-logo {
    margin-top: 30px;
    max-width: 400px;
}

// ************************************* //
// 8.0 WEDDING PAGE ======= //
#wedding-page {
    section:nth-child(odd) {
    background: #f6f6f6;
}
}

#wedding {
    .couple-name {
        margin-top: 10px;
        margin-bottom: 0;
        line-height: 50px;
    }
}

// ************************************* //
// 8.1 GALLERY ======= //
.image-list {
    display: inline-block;
}

.more_pic {
    display: none;
}

.wthumbnail {
  position: relative;
  width: 170px;
  height: 170px;
  overflow: hidden;
}

.wthumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.more-pic-link {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.thumb-meta {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: white;
    margin: 65px 0 auto 30px;
    text-align: center;
    padding: 5px;
}

// ************************************* //
// 8.2 STORY LINE ======= //
#couple-story button{
    margin-top: 10px;
}

.fade {
    opacity: 0.5;
}

// ************************************* //
// 8.3 BRIDESMAIDS AND GROOMSMEN ======= //
#maids-grooms {
    h4 {
        color: $main-color;
    }
}

#maids-grooms .row-space{
    padding: 15px 0;
}

.jthumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.jthumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

// ************************************* //
// 8.4 REGISTERY ======= //

// ************************************* //
// 8.5 GUEST LIST ======= //

iframe {
    border: none;
}

// ************************************* //
// 8.6 HASHTAG ======= //

.hashtag {
    font-size: 24px;
}

// ************************************* //
// 9.0 DESTINATION PAGE ======= //
#destination-page {
    section:nth-child(even) {
    background: #f6f6f6;
    }
}

#destination {
    h1 {
        margin-bottom: 0;
    }
    h4 {
        margin-top: 5px;
    }
}

.destination-pics {
    margin-top: 30px;
}

.bthumbnail {
    position: relative;
    width: 250px;
    height: 150px;
    overflow: hidden;
    outline: 1px solid $main-color;
    outline-offset: -15px;
}

.bthumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

// ************************************* //
// 9.1 PACKAGE INFORMATION ======= //
#packages {
    background-color: #f6f6f6;
    h1 {
        margin-bottom: 10px;
    }
}

.ion-arrow-up-c {
    color: white;
    font-size: 20px;
    border: solid 1px $main-color;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 0px 6px 0px;
    background-color: $main-color;
    &:hover {
        background-color: rgba(0,0,0,0.0);
        color: $main-color;
    }
}

.package-well-img {
    background-color: white;
    padding-top: 15px;
    margin: 15px 15px;
}

.pthumbnail {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.pthumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.package-well-content {
    margin-top: -10px;
    .price {
        font-size: 20px; 
        color: black;
    }
}

// ************************************* //
// 9.2 ADDITIONAL INFORMATION ======= //

// ************************************* //
// 9.3 BOOKING INFORMATION ======= //
.booking-well {
    background-color: #f6f6f6;
    padding: 15px;
    border: solid 10px white;
    .booking-number {
        text-transform: uppercase;
        color: $main-color;
    }
}

.para-bottom {
    margin-bottom: 78px;
}

.para-bottom2 {
    margin-bottom: 57px;
}

#payment {
    background-color: #f6f6f6;
    button {
        margin-left: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1012px) {
    #hero {
        padding-top: 120px;
    }

    .couple-name {
        font-size: 50px;
    }
    
    .couple-name-and {
        font-size: 100px;
    }
    
    .sample-info-text {
        padding: 0px 60px 0;
    }

}

@media screen and (max-width: 768px) {
    #hero {
        padding-top: 120px;
        height: 500px;
    }
    
    .couple-name {
        font-size: 50px;
        text-align: center;
    }
    
    .couple-name-and {
        line-height: 75px;
    }
    
    .couple-name-two {
        padding-top: 0;
    }
    
    #count-down {
        padding: 20px 0 10px 0;
        .col-xs-2 {
           padding: 0;
        }
    }
    
    #count-down .label {
        font-size: 9px;
    }
    
    #count-down  .number {
        font-size: 30px;
    }
    
    #sample-info {
        padding: 30px 0;  
    }

    .sample-info-text {
        padding: 0 15px;
    }
    
    .footer-nav {
        display: none;
    }
    
    .contact-agent-info, .who-we-are {
        padding: 35px 15px;
    }
    
    .bride-groom-sm-view {
        margin: 30px;
    }
    
    .col-padding-sm-view {
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .booking-well {
        border: solid 10px white;
        width: 100%;
    }
    
    #booking .row {
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .arrow {
        display: none;
    }
    
    .para-bottom {
        margin-bottom: 10px;
    }
    
    .para-bottom2 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 800px) {
    #booking .booking-steps {
        background-color: #f6f6f6;
    }
    
    .booking-steps.row-centered {
        text-align: left;
    }
    
    .booking-steps.col-centered {
        display: block;
        float: left;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .para-bottom {
        margin-bottom: 57px;
    }
    
    .para-bottom2 {
        margin-bottom: 37px;
    }
}

@media screen and (max-width: 1025px) {
    #fixed-footer {
            display: none !important;
    }
}

@media (min-width: 1025px) {
    #fixed-footer-sm {
            display: none !important;
    }
}