<!-- ========== CONTACT PAGE ========== -->
<section id="contact">
    <div class="container">
        <div class="row div-nav-space match-my-cols">
            <div class="col-sm-6 contact-agent-info">
            	<div class="">
	                <h3>contact the agent</h3>
	                <ul class="agent-info">
	                    <li>Joanna Drake</li>
	                    <li>Phone: 345.345.3444</li>
	                    <li>Text: 345.345.3333</li>
	                    <li>Email: joanna@travelzap.com</li>
	                </ul>
                </div>
            </div><!-- end contact-agent-info -->
            
            <div class="col-sm-6 contact-agent-message">
                <h3>Send message to the agent</h3>
                    
				<form method="post" class="form-horizontal contact-form" action="php/contact/contact.php">
					<!-- Honeypot SPAM Protection -->
					<input type="text" name="cf[honeypot]" style="display: none">
					<!-- END Honeypot SPAM Protection -->

					<div class="form-group">
						<div class="col-md-6">
							<input type="text" name="cf[name]" class="form-control required" placeholder="Your Name">
						</div>
						<div class="col-md-6">
							<input type="email" name="cf[email]" class="form-control required email" placeholder="Your Email">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6">
							<input type="phone" name="cf[phone]" class="form-control number" placeholder="Your Phone #">
						</div>
						<div class="col-md-6">
							<input type="text" name="cf[subject]" class="form-control required" placeholder="Subject">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<textarea name="cf[message]" rows="6" class="form-control required" placeholder="Message"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<button type="submit">Submit</button>
						</div>
					</div>
				</form>
            </div><!-- end contact-agent-message -->
        </div>
    </div>
</section>