<!-- DESTINATION PAGE ====================================== -->
<section id="destination" class="container text-center">
    <div class="row div-nav-space">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Excellence Punta Cana</h1>
			<h4>Punta Cana, Dominican Republic</h4>
			<p>Featuring a unique pool that winds around the 
			resort, the Excellence Punta Cana is ready to surprise 
			you with its many wonders! Name Brand amenities are 
			included with all packages as well as access to an 
			excellent spa, one of the best in the Dominican Republic. 
			This Adults only property is the perfect place for you to 
			spend some time with a loved one or reconnect with your 
			inner spirit. Come relax with Excellence soon!</p>
		
        </div>
    </div>
    
    <div class="row row-margin">
		<div class="col-sm-4">
			<img src="http://travelzap.com/websiteimages/hotels/excellence/Excellence%20Punta%20Cana%20(1).jpg" class="img-responsive" />
			<div class="mobile-divider"></div>
		</div>
		<div class="col-sm-4">
			<img src="http://travelzap.com/websiteimages/hotels/excellence/Excellence%20Punta%20Cana%20(2).jpg" class="img-responsive" />
		</div>
		<div class="col-sm-4">
			<img src="http://travelzap.com/websiteimages/hotels/excellence/Excellence%20Punta%20Cana%20(3).jpg" class="img-responsive" />
		<div class="mobile-divider"></div>
		</div>
	</div>
</section>

<!-- PACKAGE INFORMATION ====================================== -->
<section id="packages">
    <div class="container container-space">
        <div class="row">
            <h1 class="text-center">Package information</h1>
            <div class="col-sm-8 col-sm-offset-2">
                <h5 class="text-center">The packages are All Inclusive, with Round-trip Hotel 
                    Shuttle, unlimited dining, beverages (alcoholic & non-alcoholic), 
                    activities, entertainment, taxes and fees.</h5>
            </div>
        </div>
    </div>
</section>

<!-- ADDITIONAL INFORMATION ====================================== -->
<section id="additional-info" class="container-space text-center">
    <h1>additional information</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p>Prices last confirmed August 19th 2016 and are subject to change.
                    Rates are not guaranteed until deposits are received.</p>
            </div><!-- .col-sm-8 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- #additional-info-->

<!-- BOOKING INFORMATION ====================================== -->
<section id="booking">
    <div class="container container-space">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1>booking</h1>
                <h4>Group reservation #34554343</h4>
            </div>
        </div>
    </div>
</section>
