<!-- DESTINATION PAGE ====================================== -->
<section id="destination" class="container">
    <div class="div-nav-space text-center">
        <h1 class="text-center">Excellence Punta Cana</h1>
    	<h4 class="text-center">Punta Cana, Dominican Republic</h4>
        <div class="row destination-pics">
    		<div class="col-sm-4">
    			<img src="http://travelzap.com/websiteimages/hotels/excellence/Excellence%20Punta%20Cana%20(1).jpg" class="img-responsive bthumbnail" />
    		</div><!-- .col-sm-4 -->
    		<div class="col-sm-4">
    			<img src="http://travelzap.com/websiteimages/hotels/excellence/Excellence%20Punta%20Cana%20(2).jpg" class="img-responsive bthumbnail" />
    		</div><!-- .col-sm-4 -->
    		<div class="col-sm-4">
    			<img src="http://travelzap.com/websiteimages/hotels/excellence/Excellence%20Punta%20Cana%20(3).jpg" class="img-responsive bthumbnail" />
    		<div class="mobile-divider"></div>
    		</div><!-- .col-sm-4 -->
    	</div><!-- .row -->
    	
    	<div class="row container-space">
            <div class="col-sm-8 col-sm-offset-2">
    			<p>Featuring a unique pool that winds around the 
    			resort, the Excellence Punta Cana is ready to surprise 
    			you with its many wonders! Name Brand amenities are 
    			included with all packages as well as access to an 
    			excellent spa, one of the best in the Dominican Republic. 
    			This Adults only property is the perfect place for you to 
    			spend some time with a loved one or reconnect with your 
    			inner spirit. Come relax with Excellence soon!</p>
            </div><!-- .col-sm-6 -->
        </div><!-- .row -->
    
    </div><!-- .container -->
</section>

<!-- PACKAGE INFORMATION ====================================== -->
<section id="packages">
    <div class="container container-space">
        <div class="row">
            <h1 class="text-center">Package information</h1>
            <div class="col-sm-8 col-sm-offset-2">
                <p class="text-center">The packages are All Inclusive, with Round-trip Hotel 
                    Shuttle, unlimited dining, beverages (alcoholic & non-alcoholic), 
                    activities, entertainment, taxes and fees.</p>
            </div><!-- .col-sm-8 -->
        </div><!-- .row -->
    
        <div class="row match-my-cols package-well-img">
            <div class="col-sm-4">
                <img src="assets/img/ocean_frt.png" alt="...">
            </div><!-- .col-sm-4 -->
            <div class="col-sm-8 package-well-content">
                <h4>Deluxe Garden View/Ocean View</h4>
                <p>*Double Occupancy Rate*
                </br></br>
                Garden View $222 Per person/Per night
                Ocean View $282 Per person/Per night
                </br></br>
                King size bed or two double beds
                Private, furnished balcony or terrace with hammock
                Option to connect rooms
                Tranquil view of the lush, beautiful gardens or ocean
                451 square feet/42 square meters
                </br></br>
                **Please indicate on rooming form the view you want to book**</p>
            </div><!-- .col-sm-8-->
        </div><!-- .row -->
        
        <div class="row match-my-cols package-well-img">
            <div class="col-sm-4">
                <img src="assets/img/Premium.png" alt="...">
            </div>
            <div class="col-sm-8 package-well-content">
                <h4>Preferred Club Deluxe Garden Swimout</h4>
                <p>*Double Occupancy rate*
                    </br></br>
                    Ocean View $325 Per person/Per night
                    </br></br>
                    King size bed or two double beds
                    Marble bathroom with shower, Jacuzzi and double sink
                    Spacious living room with sofa
                    Dreams Box for private room service
                    Private concierge service
                    Private, furnished balcony or terrace
                    Option to connect suites
                    Preferred Club privileges
                    Preferred location with spectacular ocean-front view
                    547 square feet/51 square meters.</p>
            </div>
        </div><!-- .row-->
        
        <div class="row match-my-cols package-well-img">
            <div class="col-sm-4">
                <!--<img src="assets/img/Premium.png" alt="...">-->
            </div>
            <div class="col-sm-8 package-well-content">
                <h4>Preferred Club Deluxe Garden Swimout</h4>
                <p>*Double Occupancy rate*
                    </br></br>
                    Ocean View $325 Per person/Per night
                    </br></br>
                    King size bed or two double beds
                    Marble bathroom with shower, Jacuzzi and double sink
                    Spacious living room with sofa
                    Dreams Box for private room service
                    Private concierge service
                    Private, furnished balcony or terrace
                    Option to connect suites
                    Preferred Club privileges
                    Preferred location with spectacular ocean-front view
                    547 square feet/51 square meters.</p>
            </div>
        </div><!-- .row-->
        
        <div class="row match-my-cols package-well-img">
            <div class="col-sm-4">
                <!--<img src="assets/img/garden_swup.png" alt="...">-->
            </div><!-- .col-sm-4 -->
            <div class="col-sm-8 package-well-content">
                <h4>Premium Junior Suite Garden/Ocean View</h4>
                <p>$255/person/night</p>
            </div><!-- .col-sm-8 -->
        </div><!-- .row -->
    </div><!-- .containter -->
</section>

<!-- ADDITIONAL INFORMATION ====================================== -->
<section id="additional-info" class="container-space text-center">
    <h1>additional information</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p>Prices last confirmed August 19th 2016 and are subject to change.
                    Rates are not guaranteed until deposits are received.</p>
            </div><!-- .col-sm-8 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- #additional-info-->

<!-- BOOKING INFORMATION ====================================== -->
<section id="booking">
    <div class="container container-space">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1>booking</h1>
                <h4>Group reservation #34554343</h4>
            </div><!-- .col-sm-8 -->
        </div><!-- .row -->
        
        <div class="row booking-steps match-my-cols">
            <div class="col-sm-3 booking-well">
                <span class="booking-number">Step 1</span>
                <h4>Rooming Form</h4>
                <p>Please choose a package that is provided above and submit your Rooming Form with your Passenger Info.</p>
                <a href="#"><button>Rooming Form</button></a>
            </div>
            
            <div class="col-sm-3 booking-well">
                <span class="booking-number">Step 2</span>
                <h4>Deposit</h4>
                <p>Submit your $150 deposit Per Person. </p>
                <a href="#"><button>Deposit</button></a>
            </div>
            
            <div class="col-sm-3 booking-well">
                <span class="booking-number">Step 3</span>
                <h4>Travel Insurance</h4>
                <p>This step is optional. Cancel for any reason travel insurance.</p>
                <a href="#"><button>insurance</button></a>
            </div>
            
            <div class="col-sm-3 booking-well">
                <span class="booking-number">Step 4</span>
                <h4>Payment</h4>
                <p>Make a payment or set up a payment plan. <strong>Final Payments due 04/24/2017.</strong></p>
                <a href="#"><button>Payment</button></a>
            </div>
        </div>
    </div><!-- .container-->
</section>
