<!-- ========== FAQ PAGE ========== -->
<section id="faq">
	<div class="container">
		<div class="row faq-content div-nav-space">
			<div class="col-sm-6 col-sm-offset-3">
				<h2>Frequently Asked Questions</h2>	
                    <h5>Do I need a passport?</h5>
                    <p>Since this is an international trip, you do need a passport valid at least 6+ months past your travel dates. If you have a passport be sure to check the expiration date. If you don't already have a passport, it is a good idea to apply early to be sure you receive it in time for your trip. Passports normally take 4-6 weeks to process. We suggest applying a minimum of 3 months in advance as a precaution. </p>
                    
                    <h5>What is included in the rate?</h5>
                    <p>All Inclusive always includes the hotel room, food, alcoholic and non-alcoholic drinks, taxes and tips. Depending on the package that your group decided on you may have airfare and airport shuttles part of your package.</p>
                    
                    <h5>Do I have to use your travel coordinator?</h5>
                    <p>Our travel coordinator requests the rooms to be together and other small perks to make your stay comfortable. When booking with us, you're dealing with an expert in the US, so there's much less miscommunication. In many cases, the group leaders are arranging something during your stay and the reservations all have to be booked at 1 place to be valid. In order to secure the group discount, you'll need to book through Ann Williams. If comparing rates, please make sure to add the round trip shuttles to and from the hotel (most sites do not include that in the rate).</p>
                    
                    <h5>Do I have to pay for the trip all at once?</h5>
                    <p>No! One of the benefits of booking through Travel Zap is that you can set up a payment plan. The earlier you book, the more flexibility you will have. Full payment will be due by 04/03/2018.</p>
                    
                    <h5>Can I use American Dollars?</h5>
                    <p>Yes, but many resorts and stores won't take USD, so be sure to prepare your credit and debit cards. Call your bank and let them know the dates you will be gone. Charges made at the resort or elsewhere on your trip may be subject to a foreign transaction fee by your bank (normally 1-3%).</p>
                    
                    <h5>How do I get to the resort and how do shuttles work?</h5>
                    <p>If you're paying for airport shuttles, they will take you to and from your hotel. Upon arrival at your destination, your shuttle will pick you up the airport and take you to the resort. Before your last day, you'll have to confirm your departure time with the shuttle company so they can retrieve you from the resort and take you to the airport for your flight. Our round trip airport shuttles do not pick up clients at their homes in the U.S. and take them to the home airport nor do they pick you up from the U.S airport and take you home. Shuttles are only available at our destinations to and from your chosen resort.</p> 
                    
                    <h5>Do you price match from travel websites?</h5>
                    <p>That's one of the biggest perks about booking with a Travel Zap Expert! You can be confident knowing that we have the best rates, however if a US online travel agency has a huge sale within 24 hours of booking with us, we'll be happy to price match their rates.</p>
                    
                    <h5>Where/when do I get my boarding pass?</h5>
                    <p>You can pick up your boarding pass directly at the airport during check in simply with your passport. However, you should print your itinerary that will be emailed to you prior to your trip for verification.</p>
                    
                    <h5>If I book my reservation now, can I add someone later?</h5>
                    <p>You can book your room today and add a person later in the future, but keep in mind the price may change in the future when you're adding someone to your room.</p>
                    
                    <h5>When do I have to make the final payment?</h5>
                    <p>Final payments are due 65 days prior to travel, so try to make a few occasional payments prior to your final payment deadline to get most of it out of the way. You can use the same link that you used to submit your deposits, as all the payments go to the same place.</p>
			</div>
		</div>
	</div>
</section>