<!-- HERO ====================================== -->
<section id="hero" class="container">
    <div class="row">
        <div class="names col-xs-10 col-xs-offset-1">
            <div class="row">
                    <p class="couple-name text-center">Sophie & Brandon</p>
            </div><!-- end row -->
            <div class="wedding-subtitle text-center">Wedding | February 02, 2018</div>
        </div><!-- end container -->
    </div>
</section><!-- end hero -->

<!-- COUNT DOWN ====================================== -->
    <div id="count-down" class="text-center">
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1">
                <span class="label">months</span></br>
                <span class="number">06</span>
            </div>
            <div class="col-xs-2">
                <span class="label">days</span></br>
                <span class="number">19</span>
            </div>
            <div class="col-xs-2">
                <span class="label">hours</span></br>
                <span class="number">09</span>
            </div>
            <div class="col-xs-2">
                <span class="label">minutes</span></br>
                <span class="number">13</span>
            </div>
            <div class="col-xs-2">
                <span class="label">seconds</span></br>
                <span class="number">38</span>
            </div>
        </div><!-- end row -->
    </div><!-- end count-down -->
    
<!-- WEDDING INFO ====================================== -->
<section id="sample-info">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 sample-info-text text-center">
                <p>We're getting married on April 29, 2017 at Barcelo Maya 
                Tropical in Riviera Maya, Mexico! We truly hope you can join our 
                family in this special celebration.</p>
                
                <button data-toggle="modal" data-target="#rsvpModal">rsvp</button>
                <a href="#/wedding#wedding-page"><button>Wedding Page</button></a>
                </br></br>
                <p>We have hired a booking agent to make your travel
                planning easy. Please checkout the Resort Page for more information about pricing and booking.</p>
                
                <a href="#/destination#destination-page"><button>Resort</button></a>
            </div><!-- end sample-info-text-->
        </div><!-- end row -->
</section><!-- end sample-info -->