<!-- HERO ====================================== -->
<section id="hero">
    <div class="container">
	    <div class="row">
    	    <div class="couple-name-one couple-name col-sm-5 text-right">sophie</div>
    	    <div class="couple-name-and couple-name col-sm-2 text-center">&</div>
    	    <div class="couple-name-two couple-name col-sm-5 text-left">brandon</div>
    	    <div class="clearfix"></div>
	    </div><!-- end row -->
	    
	    <div class="wedding-subtitle text-center">Wedding Event </br> February 02, 2018</div>
    </div><!-- end container -->
</section><!-- end hero -->

<!-- COUNT DOWN ====================================== -->
<section id="count-down" class="container text-center">
    <!--<div class="inline">-->
    <!--    <span class="label">months</span></br>-->
    <!--    <span class="number">06</span>-->
    <!--</div>-->
    <!--<div class="inline">-->
    <!--    <span class="label">days</span></br>-->
    <!--    <span class="number">19</span>-->
    <!--</div>-->
    
    
    
    
    
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <span class="label">months</span></br>
            <span class="number">06</span>
        </div>
        <div class="col-xs-2">
            <span class="label">days</span></br>
            <span class="number">19</span>
        </div>
        <div class="col-xs-2">
            <span class="label">hours</span></br>
            <span class="number">09</span>
        </div>
        <div class="col-xs-2">
            <span class="label">minutes</span></br>
            <span class="number">13</span>
        </div>
        <div class="col-xs-2">
            <span class="label">seconds</span></br>
            <span class="number">38</span>
        </div>
    </div><!-- end row -->
</section><!-- end count-down -->

<!-- WEDDING INFO ====================================== -->
<section id="sample-info" class="off-white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 sample-info-pic">
                <img src="assets/img/couple-sm.jpg"/>
            </div><!-- end sample-info-pic -->
            
            <div class="col-sm-6 sample-info-text">
                <h2>Wedding</h2>
                <p>We joyfully request the pleasure of your company 
                as we speak our vows and join in marriage in the 
                presence of family and friends on October 23, 2017 
                at Excellence Punta Cana in Punta Cana, Dominican 
                Republic! We truly hope you can join our family in 
                this special celebration by booking below.</p>
                
                <a href="#/destination#additional-info"><button>book now!</button></a>
                <button data-toggle="modal" data-target="#rsvpModal">rsvp</button>
            </div><!-- end sample-info-text-->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end sample-info -->

<!-- DESTINATION INFO ====================================== -->
<section id="sample-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-push-6 sample-info-text">
                <h2>destination</h2>
                <h4>Excellence Punta Cana</h4>
                <h4>Punta Cana, Dominican Republic</h4>
                <p>Featuring a unique pool that winds around the resort, 
                the Excellence Punta Cana is ready to surprise you with 
                its many wonders! Name Brand amenities are included with 
                all packages as well as access to an excellent spa, one 
                of the best in the Dominican Republic. This Adults only 
                property is the perfect place for you to spend some time 
                with a loved one or reconnect with your inner spirit. 
                Come relax with Excellence soon!</p>
            </div><!-- end sample-info-text -->
            
            <div class="col-sm-6 col-sm-pull-6 sample-info-pic">
                <img src="assets/img/hotel_pic.jpg"/>
            </div><!-- end sampl-info-pic -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end sample-info -->

<!-- BOOKING INFO ====================================== -->
<section id="sample-info" class="off-white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 sample-info-pic">
                <img src="assets/img/room_pic.jpg"/>
            </div><!-- end sample-info-pic -->
            
            <div class="col-sm-6 sample-info-text">
                <h2>reservations</h2>
                <p>We have hired a booking agent to make your travel 
                planning easy. In order to be considered part of our 
                wedding group, please fill out the below forms and our 
                agent, Joanna, will contact you to confirm your stay.</p>
                
                <a href="#/destination#additional-info"><button>book now!</button></a>
            </div><!-- end sample-info-text -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end sample-info -->