<!-- HERO ====================================== -->
<section id="hero" class="container">
    <div class="row">
        <div class="names col-xs-10 col-xs-offset-1 {background_tint}">
            <div class="row">
                    <p class="couple-name text-center">{bride_first_name} &amp; {groom_first_name}</p>
            </div><!-- end row -->
            <div class="wedding-subtitle text-center">Wedding | {wedding_date}</div>
        </div><!-- end container -->
    </div>
</section><!-- end hero -->

<!-- COUNT DOWN ====================================== -->
<section id="count-down" class="text-center" style="display: {countdownCss}">
    <div class="row">
        <div id="countdown">
        </div>
            <script type="text/javascript">
            $("#countdown")
            .countdown("{countdown_date}", function(event) {
            var $this = $(this).html(event.strftime(''
            + '<div class="col-xs-2 col-xs-offset-1"><span class="label">months</span></br><span class="number">%m</span></div>'
            + '<div class="col-xs-2"><span class="label">days</span></br><span class="number">%n</span></div>'
            + '<div class="col-xs-2"><span class="label">hours</span></br><span class="number">%H</span></div>'
            + '<div class="col-xs-2"><span class="label">minutes</span></br><span class="number">%M</span></div>'
            + '<div class="col-xs-2"><span class="label">seconds</span></br><span class="number">%S</span></div>'));
            });
            </script>
    </div><!-- end row -->
</section><!-- end count-down -->

<!-- WEDDING INFO ====================================== -->
<section id="sample-info">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 sample-info-text text-center">
                <p>We're getting married on {wedding_date} at {hotel_c} in {destination_c}! 
                We truly hope you can join our family in this special celebration.</p>
                <button data-toggle="modal" data-target="#rsvpModal">rsvp</button>
                <a href="#/wedding" style="display:{weddingpageCss};"><button>Wedding Page</button></a>
                </br></br>
                <p>We have hired a booking agent to make your travel
                planning easy. Please checkout the Resort Page for more information about pricing and booking.</p>
                
                <a href="#/destination"><button>Resort Page</button></a>
            </div><!-- end sample-info-text-->
        </div><!-- end row -->
</section><!-- end sample-info -->