<!-- WEDDING PAGE ====================================== -->
<div id="wedding-page"><!-- used to select odd sections and give them background color -->
<div id="wedding" class="container">
    <div class="text-center">
        <p class="couple-name">Sophie & Brandon</p>
    </div>
</div><!-- .container -->

<!-- GALLERY ====================================== -->
<section id="gallery" class="container-space text-center">
    <div class="container">
        <div class="row row-centered">
            <div class="col-md-3 col-centered">
                <div class="image-list wthumbnail"><a class="fancybox" rel="gallery1" href="assets/img/couple5.jpg"><img src="assets/img/couple5.jpg"></a></div>
            </div>
            <div class="col-md-3 col-centered">
                <div class="image-list wthumbnail"><a class="fancybox" rel="gallery1" href="assets/img/couple6.jpg"><img src="assets/img/couple6.jpg"></a></div>
           
            </div>
            <div class="col-md-3 col-centered">
                <div class="image-list wthumbnail"><a class="fancybox" rel="gallery1" href="assets/img/couple4.jpg"><img src="assets/img/couple4.jpg"></a></div>
            </div>
            <div class="col-md-3 col-centered">
                <div class="image-list wthumbnail more-pic-link">
                    <a class="fancybox" rel="gallery1" href="assets/img/couple3.jpg">
                        <img src="assets/img/couple3.jpg">
                        <div class="thumb-meta">More Pictures...</div>
                    </a>
                </div>
            </div>
        </div>
            <div class="image-list more_pic"><a class="fancybox" rel="gallery1" href="assets/img/couple2.jpg"></a></div>
            <div class="image-list more_pic"><a class="fancybox" rel="gallery1" href="assets/img/couple1.jpg"></a></div>
    </div>
    <div class="clearfix"></div>
</section>

<!-- STORY LINE ====================================== -->
<section id="couple-story" class="container-space text-center">
    <h1>Our Story</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                natoque penatibus et magnis dis parturient montes, nascetur 
                ridiculus mus. Donec quam felis, ultricies nec, pellentesque 
                eu, pretium quis, sem. Nulla consequat massa quis enim. 
                Donec pede justo, fringilla vel, aliquet nec, vulputate 
                eget, arcu. In enim justo, rhoncus ut, imperdiet a, 
                venenatis vitae, justo. Nullam dictum felis eu pede 
                mollis pretium. Integer tincidunt. Cras dapibus. 
                Vivamus elementum semper nisi. Aenean vulputate 
                eleifend tellus. Aenean leo ligula, porttitor eu, 
                consequat vitae, eleifend ac, enim. Aliquam lorem 
                ante, dapibus in, viverra quis, feugiat a, tellus. 
                Phasellus viverra nulla ut metus varius laoreet. 
                Quisque rutrum. Aenean imperdiet.</p>
                
                <button data-toggle="modal" data-target="#rsvpModal">rsvp</button>
                <button data-toggle="modal" data-target="#guestList">Guest List</button>
            </div><!-- .col-sm-6 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- #couple-story-->

<!-- REGISTERY ====================================== -->
<section id="registery" class="container-space text-center">
    <h1>Registery</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p>Gifts are appreciated but not necessary.
                    However, if you would like to get us a present, we have put together a 
                    little list of things we would like to add to our home.
                    Please go to the links below.</p>
                    
                    <a href="http://amazon.com" target="_blank"><button>zola's</button></a>
                    <a href="http://amazon.com" target="_blank"><button>bed bath and beyond</button></a>
                    <a href="http://amazon.com" target="_blank"><button>nordstrom</button></a>
                    <a href="http://amazon.com" target="_blank"><button>amazon</button></a>
            </div><!-- .col-sm-6 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- #registery-->

<!-- BRIDESMAIDS AND GROOMSMEN ====================================== -->
<section id="maids-grooms" class="container-space">
    <h1 class="text-center"> Bridesmaids & Groomsmen</h1>
    <div class="container">
        <div class="row bride-groom-sm-view">
            <!-- bridesmaids column ------------------ -->
            <div class="col-sm-6">
                <div class="row row-space">
                    <div class="col-xs-5 jthumbnail">
                        <img src="assets/img/maids-1.png" alt="maids-grooms-pic">
                    </div><!-- .col-sm-5 -->
                    <div class="col-xs-7">
                        <h4>Bridgeth Kurt</h4>
                        <p>This text is optional. This text is optional.This text is optional.This text is optional.This text is optional.</p>
                    </div><!-- .col-sm-7 -->
                </div><!-- .row -->
                
                <div class="row row-space">
                    <div class="col-xs-5 jthumbnail">
                        <img src="assets/img/maids-2.png" alt="maids-grooms-pic">
                    </div><!-- .col-sm-5 -->
                    <div class="col-xs-7">
                        <h4>Kate Brian</h4>
                    </div><!-- .col-sm-7 -->
                </div><!-- .row -->
                
                <div class="row row-space">
                    <div class="col-xs-5 jthumbnail">
                        <img src="assets/img/maids-3.png" alt="maids-grooms-pic">
                    </div><!-- .col-sm-5 -->
                    <div class="col-xs-7">
                        <h4>Nancy Brown</h4>
                        <p>This text is optional. This text is optional.This text is optional.
                        This text is optional.This text is optional.This text is optional.
                        This text is optional.This text is optional.This text is optional.
                        This text is optional.This text is optional.This text is optional.This text is optional.This text is optional.</p>
                    </div><!-- .col-sm-7 -->
                </div><!-- .row -->
            </div><!-- .col-sm-6 -->
            
            <!-- groomsmen column ------------------ -->
            <div class="col-sm-6">
                <div class="row row-space">
                    <div class="col-xs-5 jthumbnail">
                        <img src="assets/img/grooms-1.png" alt="maid-groom-pic">
                    </div><!-- .col-sm-5 -->
                    <div class="col-xs-7">
                        <h4>John Blake</h4>
                        <p>This text is optional.</p>
                    </div><!-- .col-sm-7 -->
                </div><!-- .row -->
                
                <div class="row row-space">
                    <div class="col-xs-5 jthumbnail">
                        <img src="assets/img/grooms-2.png" alt="maid-groom-pic">
                    </div><!-- .col-sm-5 -->
                    <div class="col-xs-7">
                        <h4>Jack Holms</h4>
                        <p>This text is optional. This text is optional. This text is optional.This text is optional.</p>
                    </div><!-- .col-sm-7 -->
                </div><!-- .row -->
                
                <div class="row row-space">
                    <div class="col-xs-5 jthumbnail">
                        <img src="assets/img/grooms-3.png" alt="maid-groom-pic">
                    </div><!-- .col-sm-5 -->
                    <div class="col-xs-7">
                        <h4>Dustin Glen</h4>
                    </div><!-- .col-sm-7 -->
                </div><!-- .row -->
            </div><!-- .col-sm-6 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- #maids-grooms -->


<!-- BOOK NOW ====================================== -->
<section id="book-now" class="container-space text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p>We have hired a booking agent to make your travel
                planning easy. Please checkout the Resort Page for more information about pricing and booking.</p>
                
                <a href="#/destination#destination-page"><button>Resort</button></a>
                <a href="#/destination#packages"><button>price list</button></a>
                <a href="#/destination#booking"><button>book now!</button></a>
            </div><!-- .col-sm-6 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- #registery-->


<!-- INSTAGRAM # ====================================== -->
<section id="registery" class="container-space text-center">
    <h1>Share your photos with us</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="hashtag">#destifywedding</p>
            </div><!-- .col-sm-6 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- #registery-->
</div>