<!-- WEDDING PAGE ====================================== -->
<div id="wedding" class="container">
    <div class="div-nav-space text-center">
        <p class="couple-name">sophie & brandon</p>
    </div>
</div><!-- .container -->

<section id="gallery" class="container-space text-center">
    <div class="container">
            <div class="image-list jthumbnail"><a class="fancybox" rel="gallery1" href="assets/img/white_rose.jpg"><img src="assets/img/couple-sm.jpg"></a></div>
            <div class="image-list jthumbnail"><a class="fancybox" rel="gallery1" href="assets/img/beach.jpg"><img src="assets/img/couple4.jpg"></a></div>
            <div class="image-list jthumbnail"><a class="fancybox" rel="gallery1" href="assets/img/couple2.jpg"><img src="assets/img/couple2.jpg"></a></div>
            <div class="image-list jthumbnail"><a class="fancybox" rel="gallery1" href="assets/img/couple3.jpg"><img src="assets/img/couple3.jpg"></a></div>
            <div class="image-list jthumbnail more_pic"><a class="fancybox" rel="gallery1" href="assets/img/room_pic.jpg"></a></div>
            <div class="image-list jthumbnail more_pic"><a class="fancybox" rel="gallery1" href="assets/img/destination_pic.jpg"></a></div>
            <div class="image-list jthumbnail more_pic"><a class="fancybox" rel="gallery1" href="assets/img/garden_swup.png"></a></div>
    </div>
    <div class="clearfix"></div>
</section>

<!-- STORY LINE ====================================== -->
<section id="couple-story" class="container-space text-center">
    <h1>our story</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
                natoque penatibus et magnis dis parturient montes, nascetur 
                ridiculus mus. Donec quam felis, ultricies nec, pellentesque 
                eu, pretium quis, sem. Nulla consequat massa quis enim. 
                Donec pede justo, fringilla vel, aliquet nec, vulputate 
                eget, arcu. In enim justo, rhoncus ut, imperdiet a, 
                venenatis vitae, justo. Nullam dictum felis eu pede 
                mollis pretium. Integer tincidunt. Cras dapibus. 
                Vivamus elementum semper nisi. Aenean vulputate 
                eleifend tellus. Aenean leo ligula, porttitor eu, 
                consequat vitae, eleifend ac, enim. Aliquam lorem 
                ante, dapibus in, viverra quis, feugiat a, tellus. 
                Phasellus viverra nulla ut metus varius laoreet. 
                Quisque rutrum. Aenean imperdiet.</p>
                
                <button data-toggle="modal" data-target="#rsvpModal">rsvp</button>
            </div><!-- .col-sm-6 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- #couple-story-->

<!-- REGISTERY ====================================== -->
<section id="registery" class="container-space text-center">
    <h1>Registery</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p>Gifts are appreciated but not necessary.
                    However, if you would like to get us a present, we have put together a 
                    little list of things we would like to add to our home.
                    Please go to the links below.</p>
                    
                    <a href="http://amazon.com" target="_blank"><button>zola's</button></a>
                    <a href="http://amazon.com" target="_blank"><button>bed bath and beyond</button></a>
                    <a href="http://amazon.com" target="_blank"><button>nordstrom</button></a>
                    <a href="http://amazon.com" target="_blank"><button>amazon</button></a>
            </div><!-- .col-sm-6 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- #registery-->

<!-- BRIDESMAIDS AND GROOMSMEN ====================================== -->
<section id="maids-grooms" class="container-space">
    <h1 class="text-center"> Bridesmaids & Groomsmen</h1>
    <div class="container">
        <div class="row">
            <!-- bridesmaids column ------------------ -->
            <div class="col-sm-6">
                <div class="row row-space">
                    <div class="col-sm-5 jthumbnail">
                        <img src="assets/img/maids-1.png" alt="maids-grooms-pic">
                    </div><!-- .col-sm-5 -->
                    <div class="col-sm-7">
                        <h4>Bridgeth Kurt</h4>
                        <p>This text is optional. This text is optional.This text is optional.This text is optional.This text is optional.</p>
                    </div><!-- .col-sm-7 -->
                </div><!-- .row -->
                
                <div class="row row-space">
                    <div class="col-sm-5 jthumbnail">
                        <img src="assets/img/maids-2.png" alt="maids-grooms-pic">
                    </div><!-- .col-sm-5 -->
                    <div class="col-sm-7">
                        <h4>Kate Brian</h4>
                    </div><!-- .col-sm-7 -->
                </div><!-- .row -->
                
                <div class="row row-space">
                    <div class="col-sm-5 jthumbnail">
                        <img src="assets/img/maids-3.png" alt="maids-grooms-pic">
                    </div><!-- .col-sm-5 -->
                    <div class="col-sm-7">
                        <h4>Nancy Brown</h4>
                        <p>This text is optional. This text is optional.This text is optional.
                        This text is optional.This text is optional.This text is optional.
                        This text is optional.This text is optional.This text is optional.
                        This text is optional.This text is optional.This text is optional.This text is optional.This text is optional.</p>
                    </div><!-- .col-sm-7 -->
                </div><!-- .row -->
            </div><!-- .col-sm-6 -->
            
            <!-- groomsmen column ------------------ -->
            <div class="col-sm-6">
                <div class="row row-space">
                    <div class="col-sm-5 jthumbnail">
                        <img src="assets/img/grooms-1.png" alt="maid-groom-pic">
                    </div><!-- .col-sm-5 -->
                    <div class="col-sm-7">
                        <h4>John Blake</h4>
                        <p>This text is optional.</p>
                    </div><!-- .col-sm-7 -->
                </div><!-- .row -->
                
                <div class="row row-space">
                    <div class="col-sm-5 jthumbnail">
                        <img src="assets/img/grooms-2.png" alt="maid-groom-pic">
                    </div><!-- .col-sm-5 -->
                    <div class="col-sm-7">
                        <h4>Jack Holms</h4>
                        <p>This text is optional. This text is optional. This text is optional.This text is optional.</p>
                    </div><!-- .col-sm-7 -->
                </div><!-- .row -->
                
                <div class="row row-space">
                    <div class="col-sm-5 jthumbnail">
                        <img src="assets/img/grooms-3.png" alt="maid-groom-pic">
                    </div><!-- .col-sm-5 -->
                    <div class="col-sm-7">
                        <h4>Dustin Glen</h4>
                    </div><!-- .col-sm-7 -->
                </div><!-- .row -->
            </div><!-- .col-sm-6 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- #maids-grooms -->